.legal{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  &__title{
    @include m-h-4();
    color: $text-subtitle2;
  }
  &__links{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
  }
  &__link{
    @extend .contact__item;
  }
}
